body{
    background-color: #7f3b8c;
    font-family: 'Noto Serif Display', serif;
    
}

h1{
    text-align:center;
    color: white;
    font-size: 4em;
}

h2{
    text-align:center;
    color: white;
    font-size: 2em;
}
a:link {
    color: rgb(20, 20, 20);
    text-decoration: none;
}

a:visited {
    color: rgb(20, 20, 20);
    text-decoration: none;

}

a:hover {
    color:white;
}

.container{
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 150%;
   }