body{
    background-color: #ffc0cb;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    color: #cc1100;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    color: #cc1100;
}

.mapdiv{
    width:90vw;
    margin: auto;
}

.mapdiv path{
    fill: #cc1100;
    stroke: white;
    stroke-width:2px;
    transition: fill 0.1s;
}
.song {
    fill:1DB954;
}


.mapdiv path.linked {
    fill: #79BD8F;
}

.mapdiv path.linked:hover {
    fill: lightpink;
}

.mapdiv :hover{
    fill:lightpink;
    font-size: 30px;
}

footer{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 11px;
    color: white;
}
path[name] {

}