@import url("https://use.typekit.net/nyf6wst.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hwt-arabesque, sans-serif;

}

html, body{
    height:100%;
    width:100%;
    
}


.banner
{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}
.container
{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#e8dff5,#76c3e2);

}
.container #scene
{
    display: flex;
    justify-content:center;
    align-items: center;
    height:100%;
}
.container #scene #text
{
    position: absolute;
    display: flex !important;
    position: relative;
    color: #fff;
    font-size:10vw;
    z-index: 100;

}
.container #scene #text span
{
    position: relative !important;
    display: inline-block;
    text-shadow: 1px 1px 0 #e1e1e1,
    2px 2px 0 #e1e1e1,
    3px 3px 0 #e1e1e1,
    4px 4px 0 #e1e1e1,
    5px 5px 0 #e1e1e1,
    6px 6px 0 #e1e1e1,
    7px 7px 0 #e1e1e1,
    8px 8px 0 #e1e1e1,
    25px 35px 0 rgba(0,0,0,0.1)
}
.layer
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.layer img
{
    position:aboslute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.zIndexAbove
{
    z-index:101
}


h1 {
    text-align: center;
    position: relative;
    
}
#btn1 {
    top:100px;
}

div.button{
    background-color: #ffffff;
    color: #2c3e50;
    border: none;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    position: fixed;
    left: -435px;
    transition: .7s ease;
}
div.button:hover {
    background-color: #ffffff;
    position: fixed;
    left: -50px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #e8dff5;
}
div.button:active {
    background-color: #2c3e50;
    transition: 0s;
    color: #ecf0f1;
}

.container_today
{
    position:relative;
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#e8dff5,#76c3e2);
    
}
.today:hover {
    position:relative;
    width:100%;
    height:80%;
    background-position: right center;
}

h4 {
    text-align: center;
    position: relative;
    color: #fcf4dd;
    z-index: 102;
}

h5 {
    text-align: center;
    position: relative;
    color: #95b8d1;
    z-index: 102;
}

.parallax{
	position:absolute;
	top: 600px;
	left: 0px;
	right: 0px;
	bottom: -1000px;
	background-repeat: repeat-y;
	background-position: top center; 
  	background-size: cover;
	transform-origin: top center;
}

.clouds{
    z-index: 5;
    background-image: url("https://assets.codepen.io/557388/clouds.png");
    
}
.card {
    position: relative;
    width: calc(100vh- 300px);
    min-height: 100px;
    justify-content:center;
    Align-items:center;
    font-size:6vw;
    padding:20px;
}

.container_today
{
    position:relative;
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(#e8dff5,#76c3e2);
    
}

.container_shop
{
    position:relative;
    width:100%;
    height:auto;
    display: flex;
    Align-items:center;
    flex-direction: column;
    background: radial-gradient(#e8dff5,#76c3e2);
    
}


